body{
    display: flex;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#left{
    width: 40vw;
    height: 100vh;
    background-image: url(love.avif);
    background-position: center;
    background-size: auto;
}

#left img{
    height: 100%;
    width: 100%;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30vh;
    font-size: clamp(.1rem, 2vw, 1rem);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 2vw;
}

#logo img{
    width: 20%;
}

#right{
    display: flex;
    flex-flow: column wrap;
}

#right div{
    height: 33vh;
    width: 60vw;
    background-color: rgb(247, 182, 156);
}

#right #top,#right #bot{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#but1{
    background-color: rgb(128, 226, 221);
    border-radius: 5rem;
    padding: 1rem;
    border: none;
}

#right #mid{
    background-color: rgb(243, 194, 175);
}

#mid{
    display: flex;
    flex-flow: column;
    gap: .5rem;
    width: 100vw;
}

form{
    display: flex;
    width: 60vw;
}

#right #mid form div div{
    height: 3.5rem;
    display: flex;
    flex-flow: column;
    width: 25vw;
    font-size: clamp(0.1rem, 3vw, 1rem);
}

input:invalid{
    border: 2px rgb(188, 58, 58) solid;
}

input{
    border-radius: 0.5rem;
}